@inherits LayoutComponentBase

<div class="navbar">
    <div class="brand">
        
        <span>EventEase</span>
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/events">Events</a>
        <a href="/attendance">Registered Events</a>
    </nav>
</div>

<div class="container">
    @Body
</div>
