@inherits LayoutComponentBase
@using EventEaseApp.Services
@inject AuthService Auth
@inject NavigationManager NavManager

<div class="navbar">
    <div class="brand">
        
        <span>EventEase</span>
    </div>

    <nav>
        <a href="/">Home</a>
        @if (Auth.IsLoggedIn)
        {
            <a href="/events">Events</a>
            <a href="/attendance">Registered Events</a>
            <button class="btn btn-danger" @onclick="Logout">Logout (@Auth.UserName)</button>
        }
        else
        {
            <a href="/login">Login</a>
        }
    </nav>
</div>

<div class="container">
    @Body
</div>

@code {
    private void Logout()
    {
        Auth.Logout();
        NavManager.NavigateTo("/");
    }
}